[Unit]
Description= Script de présence
After=docker.service


[Service]
Type=idle
ExecStart= /usr/bin/python3 /home/pi/Python/influxdSave.py
Restart=always

[Install]
WantedBy=multi-user.target
